.modal{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.modalContent{
    background:none;
}
.modalContent>h1 {
background:none;
}
.modalContent>a{
background:none
}
.modalGrid{
background: #333333;
display:grid;
text-align: center;
grid-template-columns: 1fr 1fr 1fr;
padding:5px 8px;
border:2px solid black;
border-radius:0.12em;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
transition: all 0.2s;
}
.modalGrid button{
    background-color: #333333;
    width:100%;
    color:white;
    font-size: 16px;
}
.modalGrid button:hover{
color:#000000;
background-color:#FFFFFF;
cursor: pointer;
}

@media only screen and (min-width: 800px){
.modalGrid{
padding:10px 20px;
border:2px solid black;
}
.modalGrid button{
    background-color: #333333;
    width:100%;
    color:white;
    font-size: 30px;
}
}